
#scroll, #list {
  /* position: absolute; */
  /* left: 9px;
  top: 108px;
  bottom: -10px; */
  /* width: 240px; */
}
.item {
  box-sizing: border-box;
  padding: 2px 0px;
  margin-bottom: 4px;
}

.dx-theme-text-color {
  color: #333!important;
  font-weight: bold !important;
}



.custom-time-cell {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

#scheduler {
  margin-left: 270px;
}

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}

.selection {
box-shadow: inset 0 0 0 1px #337ab7;
background-color: #dbe9f5;
}

.dx-scheduler-time-panel-cell>div {
    margin-top: 0px !important;
}

/* Style for input fields */
/* input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
} */


.dx-card {
    overflow: hidden;
    border: none !important;;
    border-radius: 4px;
    background-color: #fff;
}

/* Style for button group */
.fc-button-group {
  margin-top: 10px;
}

.fc-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.fc-button-primary {
  background-color: #007bff;
  color: #fff;
}

.fc-button-primary:hover {
  background-color: #0056b3;
}


.pop-box-contain
{
    margin: 0 40px;
}
/* .pop-body-text {
border-bottom: 1px solid #81818147;
padding-bottom: 10px;
margin-bottom: 15px;
} */
.pop-body-text p {
font-size: 14px;
font-weight: 500;
color: #818181;
}

/* .dx-scheduler-group-header-content {
  margin-top: 109px;
} */


/* .first-resource {
  
  background-color: #f0f0f0;
  border: 1px solid #ccc !important;
  padding: 10px;
  margin-bottom: 10px;
 
} */



.dx-theme-text-color {
  color: #333!important;
  font-weight: bold !important;
}

.dx-button-mode-contained {
    background-color: rgb(49 71 91) !important;
    border-color: #ddd !important;
    color: white !important;
}
.dx-button-mode-contained .dx-icon {
    color: white;
}